.login {
  display: flex;
  justify-content: center;
  padding-top: 10vh;
  background: #f0f0f0;
  height: 82vh;
}

.MuiCard-root {
  width: 450px;
  height: fit-content;
}

.MuiButtonBase-root.login-button {
  width: 100%;
  margin-top: 20px;
}
